/**************** GENERIC BASE STYLES ****************/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color ;
    text-decoration: none;

}

.content-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

body {
  background-color: ;
}

/**************** MAIN HEADER ****************/

.main_header {
    background-color: #ff9082;
    height: 60px;
}

.logo {
    display: inline;
    float: left;
    margin-top: 20px;
    width: 200px;
}

.nav {
    display: inline-block;
    float: right;
    margin-top: 30px;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2em;
}

.nav li a {
  text-decoration: none;
  color: black;
}

.nav li a:hover {

}

.nav li a:active {

}

.nav li a:visited {

}

/**************** MAIN BODY STYLING ****************/

.main_wrapper {
    width: 1000px;
    margin: 0 auto;
}


ul li {
    list-style: none;
}

form {
    width: 40%;
}

.logo {

}

.bold {
    font-weight: bold;
}

fieldset {
    border: none;
}

/**************** HOME PAGE STYLING ****************/

#car {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.slides {
    display: none;
    width: 100%;
    height: 400px;
}


#featured_links {
  margin: 20px auto;  
  padding: 0px;
  float: left;
  width: 100%;
  margin-left: 20px;

}

#first {
  width: 300px;
  height: 200px;
  margin: 0 10px;
}

#second {
  width: 300px;
  height: 200px;
  margin: 0 10px;
}

#third {
  width: 300px;
  height: 200px;
  margin: 0 10px;
}

/**************** ORDER PAGE STYLING ****************/

#order_form {
    width: 990px;
}

#bases,
#toppings,
#extras {
    float: left;
    margin-right: 20px;
}

input[name="topping"],
input[name="extras"] {
    margin-bottom: 10px;
}

#delivery_info {
    clear: left;
    width: 500px;
    margin-right: 0px;
    float: left;
}

#summary {
    position: absolute;
    float: left;
    left: 50%;
    top: 53%;
    border: solid 1px black;
    width: 300px;
}

#summary h2{
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
}

#delivery_info input:not([type="reset"]) {
    margin: 10px 10px 10px 0;
}

#errorMessage2 {
    display: none;
    color: red;
}

/**************** CONTACT PAGE STYLING ****************/

#map {
    float: left;
    margin-bottom: 20px;
  }

#all_info {
    float: left;
    width: 500px;

}

#contact_info li {
    margin-top: 20px;
}

#links {
    padding-left: 20px;
}

.social_buttons {
    height: 50px;
    float: left;
}

#contact_form {
    width: 500px ;
    float: left;
}

#contact_form textarea {
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

#errorMessageFirst,
#errorMessageSecond,
#errorMessageEmail,
#errorMessage
 {
    color: red;
    display: none;
}

#firstNameGreen,
#firstNameRed,
#lastNameGreen,
#lastNameRed,
#emailGreen,
#emailRed,
#messageGreen,
#messageRed {
    display: none;
}


/**************** FOOTER STYLING ****************/

footer {
    background-color: #ff9082;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
}

footer p {

}

.social-links {
    margin-right: 50px;
    margin-bottom: 5px;
}

.social-links img {
    max-width: 50px;
    max-height: 50px;
}

/**************** OTHER ****************/
